/*
|   This css file is for use with a version of IBM's BPM product.
|
|   Date:   2/8/24
|   Author: Jeffrey Robinson II
*/

/* Body */
.body {
    background:#505a5a;
}

/* Billing Center Policy List Grid */
.ui-grid-header-cell {
    background: #505a5a;
    color: whitesmoke;
}

.ui-grid {
    background: #505a5a;
    color: whitesmoke;
}

/* Scrollbar */
.ng-isolate-scope {
    scrollbar-color: gray rgb(41, 41, 41);
  }