/*
|   This css file is for use with a version of IBM's BPM product.
|
|   Date:   2/8/24
|   Author: Jeffrey Robinson II
*/

/* Body */
.body {
    background:#505a5a;
}

/* Billing Center Policy List Grid */
.ui-grid-header-cell {
    background: #505a5a;
    color: whitesmoke;
}

.ui-grid {
    background: #505a5a;
    color: whitesmoke;
}

.ui-grid-row:nth-child(odd) .ui-grid-cell {background-color: transparent}
  
.ui-grid-row:nth-child(even) .ui-grid-cell {background-color: rgba(255, 255, 255, 0.05)}

/* Scrollbar */
.ng-isolate-scope {
    scrollbar-color: lightgray #3c4646;
}

/* Icons */
[class*="BPM_Resp_"] .ui-grid-cell.ui-grid-row-header-cell.custom a {
    color: aliceblue;
}

[class*="BPM_Resp_"] .ui-grid-cell.ui-grid-row-header-cell.custom a:focus, [class*="BPM_Resp_"] .ui-grid-cell.ui-grid-row-header-cell.custom a:hover {
    color: #78baf3;
}