.body {
  background: rgb(25, 25, 25);
}

.ui-grid {
  color: white;
  border-color: gray;
}

.ui-grid-header-cell {
  background: rgba(0, 0, 0,0.3);
}

.ui-grid-row:nth-child(odd) .ui-grid-cell {background-color: transparent}

.ui-grid-row:nth-child(even) .ui-grid-cell {background-color: rgba(255, 255, 255, 0.05)}

/* Scrollbar Stuff */
.ui-grid-render-container {
  scrollbar-color: rebeccapurple green;
}