#tb_facebook-form-fields-mapping {
    display: none;
}

#sb_launchpad {
    display: none;
}

#sb_dashboard {
    display: none;
}

#sb_calendars {
    display: none;
}

#sb_contacts {
    display: none;
}

#sb_payments {
    display: none;
}
