#tb_facebook-form-fields-mapping, #tb_tiktok-form-fields-mapping {
    display: none;
}

#sb_launchpad, #sb_dashboard, /* #sb_contacts, */ #sb_payments /* #sb_calendars */ {
    display: none;
}

/* #sidebar-v2 {
    background-color: black !important;
}*/

/* Top Left Logo Selector */
#dbl-logo {
    height: 100% !important;
  }